body {
  background-color: blanchedalmond;
}
h1 {
  text-align: center;
  padding-top: 3rem;
  font-style: italic;
  color: brown;
}
.btn {
    background-color: chocolate;
}

.quotes-container {
  background-color: darkkhaki;
  margin: auto;
  width: 50%;
  height: 50%;
  border: 1px solid yellow;
  padding: 10px;
  border-radius: 5%;
}