body {
  /*ackground-color: blanchedalmond;*/
  background: linear-gradient(260deg, #f5ad42 50%, #f5e642 100%);
}
h1 {
  text-align: center;
  padding-top: 3rem;
  font-style: italic;
  color: white;
}
#btn-generate {
  background-color: darkmagenta;
}
#btn-delete {
  background-color: deeppink;
}

.quotes-container {
  background-color: #C13100;
  margin: auto;
  width: 50%;
  height: 50%;
  border: 3px solid #FFFBD0;
  padding: 10px;
  color: white;
  font-size: 20px;
}
label {
  color: white;
  font-size: 25px;
}