.App {
  text-align: center;
  color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-content{
display: flex;
justify-content: space-around;
margin-bottom: 30px;

} 

select {
margin-left: 25px;
width: 500px;
font-size: 20px;
color: whitesmoke;
background-color: #cc0279;
height: 25px;
border: 3px darkred ;
border-radius: 10px;
}


.buttons-app{
  margin-bottom: 30px;
}
label {
  font-size: 20px;
}

.gen-btn, .del-btn {
  width: 100px;
  height: 50px;
  border-radius: 70%;
  background-color: #cc0279;
  color: azure;
  font-size: 15px;
  
}
.gen-btn {
  margin-right: 10px;
}
.container{
  /*background: linear-gradient(260deg, #f5ad42 50%, #f5e642 100%);*/
  /*background-color: #cd827e;*/
  font-size: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 75%;
  margin: auto;
  padding: auto;
}
.title {
  font-size: 75px;
}
li {
  padding-top: 5px;
  padding-bottom: 5px;
}